.xcontainer {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin: 0 .5em;
}
.diffs {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.diffs .compare-wrapper {
  flex: 1 1 auto;
  position: relative;
}
.diffs .compare-wrapper #mergely {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*.CodeMirror-sizer {
  margin-left: calc(20%) !important;
}
.CodeMirror-linenumber {
  width: fit-content !important;
  margin-left: 5px !important;
}
.CodeMirror-lines {
  border-left: 1px solid red;
}*/

#mergely-splash {
  display: none;
}

.mergely-column {
  width: calc(50% - 14px) !important;
}
.mergely-column .CodeMirror {
  height: 60vh;
}
/*.mergely-margin {
  height: 60vh;
}*/
.merge-button {
  height: unset !important;
  /* width: 2vw; */
  border: none !important;
  color: yellow !important;
  font-weight: bold;
  background-color: transparent !important;
  /* margin-top: -1px !important; */
  /* font-size: xx-large; */
  transform: scale(2.15);
  margin-left: -6px;
}

.mainPanel {
  opacity: 0;
}

.alert .glyphicon {
  font-size: 30px;
}
.alert .header strong {
  font-size: 25px;
}

#fileLeft, #fileRight {
  font-size: 20px;
  color: lightgray;
  float: left;
}

/*.col-sm-6 {
  padding-right: 22px;
}*/

#copyLeft, #copyRight {
  float: right;
  display: none;
  padding: 5px 12px;
  border-radius: 5px;
  background-color: darkmagenta;
  background-image: linear-gradient(20deg, darkmagenta 0%, #e61d8c 90%);
  border-width: 2px;
  border-color: yellow;
}
#copyLeft:focus, #copyRight:focus {
  outline: 0;
  background-image: linear-gradient(200deg, darkmagenta 0%, #e61d8c 90%);
}
/*#copyLeft {
  margin-right: 2px;
}*/

#swap {
  border-color: lightpink;
  color: papayawhip;
  padding: 8px 16px;
}
#swap:focus {
  outline: 0;
}
#swap>i {
  margin-right: 3px;
}
.well {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  padding-bottom: 0;
}
.form-control[readonly] {
  background-color: rgba(176, 196, 222, 0.5);
  color: powderblue;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: powderblue !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: powderblue !important;
}
::-ms-input-placeholder { /* IE 10+ */
  color: powderblue !important;
}
::-moz-placeholder { /* Firefox 18- */
  color: powderblue !important;
}
.btn-file {
  font-style: oblique;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 12px;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}
.CodeMirror-vscrollbar:focus {
  outline: 0;
}
.mergely.c.lhs, .mergely.c.rhs {
  background-color: darkmagenta;
}
.mergely.ch.a.lhs, .mergely.ch.a.rhs {
  background-color: royalblue;
}
